.shop{background-color:rgba(0,0,0,0.8);}

.product{padding:5%;}
.product img{height:300px;}

.back-arrow{margin-top:
10%;
margin-right:10%;
width:100px;
  z-inde
}

.shopbgmens{
     background-image: url("images/mens/MensBG.png"); 
background-attachment: fixed;
  background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color:white;
    font-family: 'Carrois Gothic', sans-serif;

}

.product-title{
    font-size:1.5em;
    margin-top:5%;
}


.homebg{  background-image: url("images/homebg.jpg"); 
background-attachment: fixed;
  background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color:white;
    font-family: 'Carrois Gothic', sans-serif;}

/*.shopcatmens{
    background-image: url("images/mens/Board-Shorts_0001s_0003_MENS.png"); 
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    background-position: center; 
    position: absolute;
    min-height:100vh;
    right: 0; 
    top: 0;

}*/

.peace{margin-top:5%;
    
}

.menu-m{position:absolute;margin-top:-12%;
text-align:right;
  width:7%;
  margin-left:25%;
}

.menu-w{
  position:absolute;margin-top:-10%;
text-align:right;
  width:10%;
  margin-left:40%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.shopbgwomens{
     background-image: url("images/womens/WomensBG.png"); 
background-attachment: fixed;
  background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color:white;
    font-family: 'Carrois Gothic', sans-serif;

}